<?php
	$fieldset = array();
	$counter = 1;
	
	if(!$class == "") $classfieldset = "class=\"".$class."\" "; else $classfieldset = "";
	if(!$id == "") $idfieldset = "id=\"".$id."\" "; else $idfieldset = "";
	
	$fieldset[0] = "<fieldset ".$classfieldset.$idfieldset.">";
	if(!$legend == "") {$fieldset[1] = "<legend> ".$legend." </legend>"; $counter++;}
	SimplifyArray($fieldset, $content, 1, $counter);	
	$fieldset[$counter] = "</fieldset>";
?>
