<?php
	$table = array();
	$counter = 1;
	
	if(!$class == "") $classtable = "class=\"".$class."\" "; else $classtable = "";
	if(!$id == "") $idtable = "id=\"".$id."\" "; else $idtable = "";
	
	$table[0] = "<table ".$classtable.$idtable.">";
	foreach($content as &$value){
		$table[$counter] = "\t<tr>";
		$counter++;
		foreach($value as &$val){
			$table[$counter] = "\t\t<td>".$val."</td>";
			$counter++;
		}
		$table[$counter] = "\t</tr>";
		$counter++;
	}
	$table[$counter] = "</table>";
?>
